<div class=".container.is-fullhd">
    <nav class="navbar is-transparent">
        <div class="navbar-brand">
            <a class="navbar-item">
                <p class="subtitle is-3 pl-4">Mapster</p>
            </a>
            <div class="navbar-burger" data-target="navbarBurger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarBurger" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item subtitle is-4">
                    Document 1
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">

                        <p class="control">
                            <a class="button is-info is-hovered" href="#">
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                                <span>Share</span>
                            </a>
                        </p>

                        <p class="control pl-5 pr-5">
                            <a class="bd-tw-button button">
                                <span class="icon">
                                    <i class="fas fa-user-circle"></i>
                                </span>
                            </a>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </nav>

    <nav class="level mt-4 px-6">

        <button class="button is-medium">
            <span class="icon is-small">
                <a class="level-item" id="undo" href="#">
                    <i class="fas fa-undo-alt"></i>
                </a>
            </span>
        </button>

        <button class="button is-medium">
            <span class="icon is-small">
                <a class="level-item" id="zoom-in">
                    <i class="fas fa-search-plus"></i>
                </a>
            </span>
        </button>

        <button class="button is-medium">
            <span class="icon is-small">
                <a class="level-item" id="zoom-out">
                    <i class="fas fa-search-minus"></i>
                </a>
            </span>
        </button>

        <button class="button is-medium">
            <span class="icon is-small">
                <a class="level-item">
                    <i class="fas fa-trash"></i>
                </a>
            </span>
        </button>


        <button class="button is-medium">
            <span class="icon is-small">
                <a class="level-item" id="copy">
                    <i class="far fa-copy"></i>
                </a>
            </span>
        </button>


        <button class="button is-medium">
            <span class="icon is-small">
                <a class="level-item" id="paste">
                    <i class="far fa-clipboard"></i>
                </a>
            </span>
        </button>

        <button class="button is-medium">
            <span class="icon is-small">
                <a class="level-item" id="redo">
                    <i class="fas fa-redo-alt"></i>
                </a>
            </span>
        </button>

    </nav>

    <div class="columns">

        <div class="column is-one-fifth box">
            <aside class="menu" id="mnuLeft">
                <p class="menu-label">
                    Documents
                    <button class="button is-small is-pulled-right mnuButton">
                        <span class="icon is-small">
                            <figure class="image is-16x16">
                                <img src="../../../assets/images/leftArrow.png" alt="Italian Trulli">
                            </figure>
                        </span>
                    </button>
                </p>
                <ul class="menu-list">
                    <li><a class="is-active">Document 1</a></li>
                    <li><a>Document 2</a></li>
                </ul>
                <button class="button is-success" id="btnNew">New</button>
            </aside>
        </div>

        <div class="column">
            <div class="wrapper">
                <div>test</div>
            </div>
        </div>

        <div class="column is-2" id="colRight">
            <div class="box">
                <aside class="menu">
                    <p class="menu-label">
                        <button class="button is-small mnuButton">
                            <span class="icon is-small">
                                <figure class="image is-16x16">
                                    <img src="../../../assets/images/rightArrow.png" alt="Italian Trulli">
                                </figure>
                            </span>
                        </button>
                    </p>
                    <div>
                        <p class="menu-label title is-6">
                            Shapes
                        </p>
                        <ul class="menu-list">
                            <li>
                                <figure class="image is-64x64">
                                    <img src="../../../assets/images/circle.png" alt="line">
                                </figure>
                            </li>
                            <li>
                                <img src="../../../assets/images/line.png" alt="line">
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p class="menu-label mt-4 title is-6">
                            Properties
                        </p>
                        <ul class="menu-list" id="props">
                            <li>
                                <span>Label</span>
                                <button class="geColorBtn">
                                    <div style="width:36px;height:12px;margin:3px;border:1px solid black;background-color:#ffffff;">
                                    </div>
                                </button>
                            </li>
                            <li>
                                <span>Colour</span>
                                <button class="geColorBtn">
                                    <div style="width:36px;height:12px;margin:3px;border:1px solid black;background-color:#ffffff;">
                                    </div>
                                </button>
                            </li>
                            <li>
                                <span>Stroke</span>
                                <button class="geColorBtn">
                                    <div style="width:36px;height:12px;margin:3px;border:1px solid black;background-color:#ffffff;">
                                    </div>
                                </button>
                            </li>
                            <li>
                                <span>Fill</span>
                                <button class="geColorBtn">
                                    <div style="width:36px;height:12px;margin:3px;border:1px solid black;background-color:#ffffff;">
                                    </div>
                                </button>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>

    </div>
</div>