<nav class="navbar is-transparent">
    <div class="navbar-brand">
        <a class="navbar-item">
            <p class="subtitle is-3 pl-4">Mapster</p>
        </a>
        <div class="navbar-burger" data-target="navbarBurger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div draggable="true">
        Test
    </div>
    <div dropzone="move">
        Dropzopne
    </div>

    <div id="navbarBurger" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item subtitle is-4">
                Document 1
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">

                    <p class="control">
                        <a class="button is-info is-hovered" href="#">
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                            <span>Share</span>
                        </a>
                    </p>

                    <p class="control pl-5 pr-5">
                        <a class="bd-tw-button button">
                            <span class="icon">
                                <i class="fas fa-user-circle"></i>
                            </span>
                        </a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <nav id="navtools" class="mt-4 mb-4">
        <p class="img" id="undo">
            <i class="fas fa-undo-alt fa-2x"></i>
        </p>
        <p class="img" id="zoom-in">
            <i class="fas fa-search-plus fa-2x"></i>
        </p>
        <p class="img" id="zoom-out">
            <i class="fas fa-search-minus fa-2x"></i>
        </p>
        <p class="img">
            <i class="fas fa-trash fa-2x"></i>
        </p>
        <p class="img" id="copy">
            <i class="far fa-copy fa-2x"></i>
        </p>
        <p class="img" id="paste">
            <i class="far fa-clipboard fa-2x"></i>
        </p>
        <p class="img" id="redo">
            <i class="fas fa-redo-alt fa-2x"></i>
        </p>
    </nav>
</div>

<div class="columns">

    <div class="column is-one-fifth">
        <aside class="menu box">
            <p class="menu-label">
                Documents
            </p>
            <ul class="menu-list">
                <li><a class="is-active">Document 1</a></li>
                <li><a>Document 2</a></li>
            </ul>
            <p class="menu-label">
                Other
            </p>
            <ul class="menu-list">
                <li style="color: khaki !important;"><a>Something else 1</a></li>
                <li><a>Something else 2</a></li>
            </ul>
            <p class="menu-label">
                May remove this later
            </p>
            <ul class="menu-list">
                <li><a>Something else 1</a></li>
                <li><a>Something else 2</a></li>
            </ul>
        </aside>
    </div>

    <div class="column">
        <section class="section is-large">
            <h1 class="title">Hello world</h1>
            <h2 class="subtitle">
              Going to put stuff here.
            </h2>
          </section>
    </div>
</div>