.navbar-start {
    flex-grow: 1;
    justify-content: center;
}

.level {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a:hover {
        color: lightcoral !important;
    }

    .level-item {
        color: black !important;
        
    }
}